body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}
/* RESET */
ul, ol{
    list-style-type: none;
    margin-top: 0;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    margin: 0;
}
/* COMMON */
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/* HEADER */
.page-heder{
    border-bottom: 1px solid #e7e9fc;
}
.header-container{
    display: flex;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo{
padding: 24px 0;
margin-right: 76px;
}

.header-logo .logo-part{
color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link{
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;    
}

.contacts{
    font-style: normal;
    margin-left: auto;
}

.contacts-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link{
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

/* HERO */
.hero{
    background: #2e2f42;
}
.hero-title{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.hero-btn{
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: #404bbf;
}
/* About */
.about-subtitle {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}
.about-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* TEAM */
.team{
    background-color: #f4f4fd;
}
.team-title {
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    font-size: 36px;
    text-transform: capitalize;
}
.team-item{
    background-color: #FFFFFF;
}
.team-subtitle {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    font-size: 20px;
}
.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    font-size: 16px;
}
/* Portfolio */

.portfolio-title {
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    font-size: 36px;
    text-transform: capitalize;
}
.portfolio-subtitle {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 20px;
}
.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
}
/* FOOTER */
.page-footer{
    background-color: #2e2f42;;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.footer-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-size: 16px;
}